body{
    display:flex;
    justify-content: center;
    align-items: center;
}

form{
    display:flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    border: 2px solid;
    padding:20px;
    background-color: antiquewhite;
}
h2{
    text-align: center;
}
.submit-btn
{
    background-color: orange;
    color: white;
    padding: 2%;
    font-size: 17px;
    margin-top: 10px;
    width:120px;
    border-radius: 20px;
    margin-left: 100px;
    height:40px;
    cursor:pointer;
}
input{
    padding:2%;
}
label{
    font-size:20px;
    font-weight: bold;
    margin-top:5px;
}